
#logo{
  max-width: 10%;
}

#logo-text{
  font-family: 'Pacifico', cursive;
  font-size:25px;
  text-align: center;
}

#quick-search{
  display: flex;
  flex-direction: row;
}
#nav-bar {
  margin-bottom: 2%;
}

#nav-drop {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  border: solid 1px;
}

#dash-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#button-container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

#profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .recipe-photo {
  display: flex;
  max-width: 33%;
} */

/* #recipe-card{
  border: solid;
  border: 5px;

} */

#dash-cookbook{
  display: flex;
  max-width: 75%;
}

#dash-profile{
  display: flex;
  max-width: 20%;
}

#ingredient-search{
  display: flex;
  /* max-width: 50%; */
}

#search-page{
  display: flex;
  flex-direction: column;
  max-width: 80%;
  justify-content: center;
}

#search-forms{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#recipes-header{
  margin-bottom: 5%;
}

#upload-btn{
  border-radius: 50%;
  height: 150px;
  width: 150px;
}