
#nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid;
}

#nav-drop{
  display: flex;
  flex-direction: column;
  align-items: space-between;
  border: solid 1px;
}

#dash-div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#button-container{
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

#profile-container{
  display: flex;
  flex-direction: column;
  align-items: space-between;
}